body{
    background: rgb(207, 207, 207);
    margin: 0;
    height: 100vh;
}

.container{
    margin: auto;
    margin-top: 50px;
    width: fit-content;
    border: 3px solid black;
    
    .text{
        padding-top: 10px;
    }
    .button{
        display: grid;
        margin: 10px auto;
        align-self: center;
    }
}

$p_height: 42px;
$p_width: 42px;
.poolContainer{
    text-align: center;

    .poolDriver{
        margin: auto;
        
        .driverImg{
            height: $p_height + 20;
            width: $p_width + 20; 
        }
    }

    .passengerInfo {
        display: inline-block;
        position: relative;
        padding: 0 20px;
        
        .passengerLeft{
            position: absolute;
            right: 0;            
            bottom: $p_height+5px;
        }
        .passengerRight{
            position: absolute;
            left: 0;
            bottom: $p_height+5px;
        }
        .passengerImg{
            height: $p_height;
            width: $p_width;            
        }
    }
    .passengerBox{
        display: inline-block;
        height: $p_height + 30;
        width: $p_width + 20;
        border: 8px solid black;
        background: red;
    }
}